In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Loading public health statistics for cities to dataframe

**Source:** Kaggle (https://www.kaggle.com/cdc/500-cities)

**Description:** This data was collected by Centers for Disease Control and Prevention, National Center for Chronic Disease Prevention and Health Promotion, Division of Population Health (2016)

**Data collection and preparation credit:** David Chen

In [14]:
csv_file = "500_Cities_CDC.csv"
old_cityhealth_data_df = pd.read_csv(csv_file)
old_cityhealth_data_df.head()

,StateAbbr,PlaceName,PlaceFIPS,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ACCESS2_AdjPrev,ACCESS2_Adj95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,SLEEP_Adj95CI,STROKE_CrudePrev,STROKE_Crude95CI,STROKE_AdjPrev,STROKE_Adj95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,TEETHLOST_AdjPrev,TEETHLOST_Adj95CI,Geolocation
0,AL,Birmingham,107000,212237,22.6,"(22.1, 23.0)",21.4,"(21.0, 21.8)",32.6,"(32.5, 32.8)",...,"(46.6, 47.0)",5.0,"( 5.0, 5.1)",5.0,"( 5.0, 5.1)",26.1,"(25.1, 27.2)",25.9,"(25.0, 26.9)","(33.52756637730, -86.7988174678)"
1,AL,Hoover,135896,81619,10.6,"(10.2, 11.1)",10.2,"( 9.7, 10.7)",26.3,"(26.0, 26.6)",...,"(34.2, 35.0)",2.3,"( 2.2, 2.3)",2.2,"( 2.1, 2.3)",9.6,"( 8.6, 10.8)",9.5,"( 8.5, 10.9)","(33.37676027290, -86.8051937568)"
2,AL,Huntsville,137000,180105,17.4,"(16.9, 17.8)",16.3,"(15.9, 16.7)",30.0,"(29.8, 30.2)",...,"(39.4, 40.0)",3.3,"( 3.3, 3.4)",3.2,"( 3.1, 3.2)",14.9,"(14.1, 15.7)",14.7,"(13.8, 15.5)","(34.69896926710, -86.6387042882)"
3,AL,Mobile,150000,195111,20.0,"(19.6, 20.4)",19.1,"(18.7, 19.5)",33.1,"(32.9, 33.2)",...,"(42.0, 42.4)",4.3,"( 4.3, 4.4)",4.1,"( 4.0, 4.1)",24.3,"(23.4, 25.3)",24.1,"(23.1, 25.0)","(30.67762486480, -88.1184482714)"
4,AL,Montgomery,151000,205764,19.7,"(19.2, 20.2)",18.5,"(18.1, 19.0)",31.0,"(30.8, 31.2)",...,"(41.0, 41.5)",4.0,"( 3.9, 4.1)",4.1,"( 4.0, 4.1)",21.2,"(20.3, 22.2)",21.2,"(20.1, 22.2)","(32.34726453330, -86.2677059552)"

In [16]:
city_health_data_df = old_cityhealth_data_df[['StateAbbr', 'PlaceName', 'PlaceFIPS', 'Geolocation','Population2010','ARTHRITIS_CrudePrev']].copy()
city_health_data_df.head()

,StateAbbr,PlaceName,PlaceFIPS,Geolocation,Population2010,ARTHRITIS_CrudePrev
0,AL,Birmingham,107000,"(33.52756637730, -86.7988174678)",212237,32.6
1,AL,Hoover,135896,"(33.37676027290, -86.8051937568)",81619,26.3
2,AL,Huntsville,137000,"(34.69896926710, -86.6387042882)",180105,30.0
3,AL,Mobile,150000,"(30.67762486480, -88.1184482714)",195111,33.1
4,AL,Montgomery,151000,"(32.34726453330, -86.2677059552)",205764,31.0

# Loading Census Data

**Source:** Kaggle (https://www.kaggle.com/cdc/500-cities)

**Description:** This data was collected by Centers for Disease Control and Prevention, National Center for Chronic Disease Prevention and Health Promotion, Division of Population Health (2016)

**Data collection and preparation credit:** David Chen

# DataBase Creation and Upload

In [ ]:
connection_string = 'root:<password>@localhost/'
engine = create_engine(f'mysql://{connection_string}')

connection = engine.connect()

In [ ]:
connection.execute('create schema City_Health_Demographics; ')

In [ ]:
db_connection_string = "root:<password>@localhost/City_Health_Demographics"
db_engine = create_engine(f'mysql://{db_connection_string}')

In [ ]:
cdc_data_df_update_column.to_sql(name='City_Health', con=db_engine, if_exists='append', index=True)

In [ ]:
census_demographics_df.to_sql(name='City_Demographics', con=db_engine, if_exists='append', index=True)

In [ ]:
# Confirm tables
db_engine.table_names()